<main>
    <section class="container py-5 h-100">
        <section class="row d-flex align-items-center h-100 g-5">
            <section class="col-12 col-xl-6 d-flex justify-content-center align-items-start">
                <section class="card shadow-2-strong" style="border-radius: 1rem">
                    <section class="card-body p-5 text-center">
                        <h3 class="mb-5">Ingrese la tarea</h3>
                        <section class="form-outline mb-4">
                            <input class="form-control form-control-lg" placeholder="Ingresa nombre tarea" type="text" [(ngModel)]="tarea">
                        </section>
                        <section class="form-outline mb-4">
                            <textarea class="form-control form-control-lg" placeholder="Ingresa descripción" type="text" rows="3" [(ngModel)]="descripcion"></textarea>
                        </section>
                        <section class="pt-1 mb-4">
                            <input type="button" value="Guardar" (click)="AgregarTarea()" [ngClass]="tarea && descripcion ? 'activo' : 'inactivo'">
                        </section>
                        <section *ngIf="resultado == false; then error"></section>
                    </section>
                </section>
            </section>
            <section class="col-12 col-xl-6 d-flex justify-content-center align-items-start">
                <app-componente4 [datos]="datos"></app-componente4>
            </section>
        </section>
    </section>
</main>

<ng-template #error>
    <p style="color: red; font-weight: bold">{{ mensaje }}</p>
</ng-template>